body{
    display: flex;
    flex:auto;
    justify-content: center;
    flex-direction: column;
    margin:0
}

.intro {
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
    justify-content: center;
}

.header {
    flex-direction: row;
    display:flex;
    padding:16px;
    align-items: center;
    
}
#logo {
    display:flex;
    font-size: 24px;
    color: #f9faf8;
    margin: auto
}

.headright {
    display: flex;
    gap: 2rem;
    margin: auto
}

.list, a {
    list-style-type: none;
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

/*Header above*/
/*Introbox below*/

.introbox {
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 16px;
    align-items: center;
}

.introinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0, auto;
    flex-wrap: wrap;
}

#introhead {
    font-size: 48px;
    font-weight: bolder;
    color:#f9faf8;
    margin: 0, auto
}

#intropara {
    font-size: 18px;
    color:#e5e7eb;
    width: 400px
}

button {
    background-color:#3882f6;
    color:#f9faf8;
    width:80px;
    height:20px;
    border-radius: 10px;
    border-style: solid;
    border-color:white;
}

#bigiso {
    width: 300px;
    height: 250px;
}

/*Infobox above*/
/*Core Images below*/

.core {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 2rem;
}

.core-images {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.core-subtext {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.images {
    display: flex;
    flex-direction: row;
}

.subtext{
    max-width: 150px;
    text-align: center;
    color:#1f2937
}


#core-header {
    align-self: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.core img {
    border: solid #3882f6;
    height: 150px;
    width: 150px;
    border-radius: 10%;
}

/*Core above*/
/*Quotes below*/

.quotes {
    display:flex;
    flex-direction: column;
    background-color: #e5e7eb;
    flex: auto;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color:#1f2937;
    text-align: center;
    flex-wrap: wrap;
    max-width: 1000px
}

.name {
    display:flex;
    color:#1f2937;
    font-weight: bold;
    align-self: center;
    margin-left: 50%;
}


/*Quotes above*/
/*Signup below*/

.ctacontainer {
    display: flex;
    flex-direction: row;
    background-color: #3882f6;
    margin-top: 36px;
    max-width: fit-content;
    align-self: center;
    padding-left: 8rem;
    padding-right: 8rem;
    margin-bottom: 36px
}

.cta {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white
}

.signup {
    align-self: flex-end;
    margin: 1rem
}
/*Signup above*/
/*Footer below*/

